<div class="chat_wrapper">
    <div class="chat_container_wrapper" *ngFor="let message of this.items | async ; index as i">
        <div class="chat_container">
            <h5 class="chat_content"
                [ngStyle]="{backgroundColor: i%2?'#ffffe8':'#e6f9ff', color:i%2?'#ffffe8':'#e6f9ff'}">
                <span>{{message.message}}</span>
            </h5>
            <h6 class="details">
                <span>{{message.name}},</span>
                <span>{{message.date}}</span>
            </h6>
        </div>
    </div>
    <textarea type="text" [(ngModel)]="msg" (keyup.enter)="send()"></textarea>
</div>
<div class="overlay" (click)="closeMe()"></div>