@import '../../../assets/style/globalStyle';

.wrapper {
  position: relative;
  width: 250px;
  margin: auto;
  height: 100%;
  box-shadow: 0 1px 2px 0px #737070;
  background-color: lightgray;
  .show_more {
    position: absolute;
    top: 13px;
    left: 105px;
    z-index: 100;
    .fa-upload {
      font-size: 25px;
    }
  }
  .chat_wrapper {
    padding: 70px 15px 10px;
    border-radius: 2px;
    z-index: 50;
    width: 100%;
    overflow: scroll;
    max-height: 100%;
    @include fadeInAnimate(0.6);
    .chat_container_wrapper {
      text-align: right;
      .chat_container {
        margin: 0 0 20px;
        .chat_content {
          padding: 10px;
          border-radius: 8px;
          position: relative;
          display: inline-block;
          max-width: 100%;
          word-wrap: break-word;
          background-color: #f9ffcf;
          color: #f9ffcf;
          * {
            color: black;
            font-size: 19px;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: -3px;
            right: -2px;
            transform: rotate(156deg);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 9px solid;
            border-bottom: 5px solid transparent;
          }
        }
        .details {
          font-size: 10px;
          margin: 5px 0 !important;
          color: #6666b4;
        }

      }
      &.manager {
        text-align: left;
        .chat_container {
          .chat_content {
            background-color: #e2f6ff;
            color: #e2f6ff;
            &:after {
              left: -4px;
              transform: rotate(151deg);
              right: unset;
            }
          }
        }
      }
      .button_container {
        text-align: left;
        button {
          @include md-button(white, $app_red, 15);
          font-size: 15px;
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .value {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    font-size: 18px;
    margin: 20px 0 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    &:focus {
      outline: red;
    }
  }
}