<nav [ngClass]="{'show':isPersonalAreaNavOpen}">
    <a routerLink="/home/about" routerLinkActive="active">
        <span>אודות</span>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
    <a routerLink="/home/gallery" routerLinkActive="active">
        <span>גלריה</span>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//form" routerLinkActive="active">
        <span>פורום</span>
        <i class="fa fa-wpforms" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//look-for-friends" routerLinkActive="active">
        <span>חיפוש חברים</span>
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//this-week" routerLinkActive="active">
        <span>היום בגן</span>
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </a>
    <span class="personal_area" (click)="toggleSettings()">
         <span>הגדרות</span>
        <i class="fa fa-cog" aria-hidden="true"></i>
        <div class="settings_nav" [ngClass]="{'show': isPersonalAreaNavOpen}">
            <span (click)="openPersonalSettings()">פרטים אישיים</span>
            <!--<span (click)="openConfirmPassword()">שנה סיסמא</span>-->
            <span (click)="openGroupSettings()" *ngIf="appGlobalsService.isAdministrator&&false">פרטי הגן</span>
            <span (click)="openAddMembers()" *ngIf="appGlobalsService.isAdministrator">הוספת משתתפים</span>
        </div>
    </span>
    <div class="left_side">
        <button *ngIf="!appGlobalsService.isAdministrator" mat-raised-button color="accent" class="chat" [ngClass]="{'selected':!isChat}" (click)="toggleChatStatus()">
            <span>הודעות </span>
            <i class="fa fa-commenting" aria-hidden="true"></i>
        </button>
        <button mat-raised-button color="accent" class="chat" [ngClass]="{'selected':isChat}" (click)="toggleChatStatus()">
            <span>צאט</span>
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </button>

        <button *ngIf="appGlobalsService.isAdministrator" mat-raised-button color="accent" class="reminders_poup" (click)="openReminderPopup()">
            <span>שליחת הודעות</span>
            <i class="fa fa-commenting" aria-hidden="true"></i>
        </button>
    </div>

    <div class="fixed" *ngIf="isPersonalAreaNavOpen" (click)="toggleSettings()"></div>
</nav>