<nav [ngClass]="{'show':isPersonalAreaNavOpen}">
    <a routerLink="/home/about" routerLinkActive="active">
        <span>אודות</span>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
    <a routerLink="/home/gallery" routerLinkActive="active">
        <span>גלריה</span>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//form" routerLinkActive="active">
        <span>פורום</span>
        <i class="fa fa-wpforms" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//look-for-friends" routerLinkActive="active">
        <span>חיפוש חברים</span>
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//this-week" routerLinkActive="active">
        <span>השבוע בגן</span>
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </a>
    <span class="personal_area" (click)="toggleSettings()">
         <span>הגדרות</span>
        <i class="fa fa-cog" aria-hidden="true"></i>
        <div class="settings_nav" [ngClass]="{'show': isPersonalAreaNavOpen}">
            <span (click)="openPersonalSettings()">פרטים אישיים</span>
            <span (click)="openConfirmPassword()">שנה סיסמא</span>
            <span (click)="openGroupSettings()">פרטי הגן</span>
        </div>
    </span>
    <div class="fixed" *ngIf="isPersonalAreaNavOpen" (click)="toggleSettings()"></div>
    <!--<div class="personal_area_nav" >-->
    <!--<a [routerLink]="['/home/presonal-area/settings']"> <i class="fa fa-cog" aria-hidden="true"></i>הגדרות</a>-->
    <!--<a [routerLink]="['/home/presonal-area/remiders']"><i class="fa fa-bell" aria-hidden="true"></i>תזכורות-->
    <!--חשובות</a>-->
    <!--<a [routerLink]="['/home/presonal-area/chat']"><i class="fa fa-comments" aria-hidden="true"></i>chat</a>-->
    <!--<router-outlet></router-outlet>-->
    <!--</div>-->
</nav>