@import "../../assets/style/globalStyle";

nav {
  background-color: $second_color;
  margin: 10px 0 0 0;
  padding: 18px;
  max-height: 64px;
  position: relative;
  a, .personal_area {
    box-sizing: content-box;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 20px;
    border-left: 1px solid $primary_color;
    transition: 0.2s;
    position: relative;
    color: $primary_color;
    cursor: pointer;
    i {
      padding: 0 10px 0 0;
      transition: 0.2s;
      vertical-align: middle;
    }
    &:active, &:focus, &:visited, &:hover {
      color: $primary_color;
      text-decoration: none;
    }
    &:last-child {
      border-left: none;

    }
    .personal_area_nav {
      transition: 0.3s;
      position: absolute;
      top: 45px;
      right: 0;
      height: 0;
      width: 200px;
      background-color: $primary_color;
      text-align: right;
      a {
        color: white;
        font-weight: bold;
        padding: 5px;
        display: block;
        font-size: 22px;

      }
      i {
        padding: 5px;
      }
    }
    .settings_nav {
      position: absolute;
      top: 45px;
      right: 0;
      display: inline-block;
      background-color: $app_red;
      color: white;
      width: 120px;
      height: 0;
      overflow: hidden;
      transition: 0.2s;
      z-index: map_get($z-indexes, 'popup-overlay')+1;
      &.show {
        height: 125px;
        span {
          padding: 2px 10px;
          display: block;
          &:hover {
            background-color: $primary_color;
          }
        }
      }
    }
  }
  .left_side {
    position: absolute;
    @include absolute-vertical-middle();
    left: 20px;
    button {
      position: relative;
      padding: 0 15px 0 60px;
      font-size: 25px;
      vertical-align: middle;
      i {
        position: absolute;
        padding: 5px;
        top: 7px;
        left: 7px;
        @include absolute-vertical-middle();
      }
      &.selected {
        border: solid 2px;
      }
      &.reminders_poup {
        font-size: 20px;
      }
    }

  }
  &.show {
    a {
      .personal_area_nav {
        height: 125px;
        a {
          &:hover {
            background-color: #459e96;
          }
        }

      }
    }

  }
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: map_get($z-indexes, 'popup-overlay');
}
