<nav>
    <a routerLink="/home/about" routerLinkActive="active">
        <span>אודות</span>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
    <a routerLink="/home/gallery" routerLinkActive="active">
        <span>גלריה</span>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//form" routerLinkActive="active">
        <span>פורום</span>
        <i class="fa fa-wpforms" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//look-for-friends" routerLinkActive="active">
        <span>חיפוש חברים</span>
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//this-week" routerLinkActive="active">
        <span>השבוע בגן</span>
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </a>
    <a routerLink="/home//presonal-area" routerLinkActive="active">
        <span>אזור אישי</span>
        <i class="fa fa-user" aria-hidden="true"></i>
    </a>
</nav>