<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

  <mat-form-field class="input">
    <input matInput placeholder="סיסמא נוכחית"  type="password" name="currentPassword" [formControl]="currentPassword">
  </mat-form-field>
  <div [hidden]="currentPassword.untouched||!currentPassword.hasError('required')">שדה נדרש</div>
  <div [hidden]="!confirmPassword.hasError('validatePassword')||confirmPassword.untouched">
      הסיסמא אינה נכונה
  </div>

  <mat-form-field class="input">
    <input matInput placeholder="סיסמא חדשה" type="password" name="newPassword" [formControl]="newPassword">
  </mat-form-field>
  <div [hidden]="newPassword.untouched||!newPassword.hasError('required')">שדה נדרש</div>

  <mat-form-field class="input">
    <input matInput placeholder="אשר סיסמא" type="password" name="confirmPassword" [formControl]="confirmPassword">
  </mat-form-field>
  <div [hidden]="confirmPassword.untouched||!confirmPassword.hasError('required')">שדה נדרש</div>
  <div [hidden]="!confirmPassword.hasError('validatePassword')||confirmPassword.untouched">
    הסיסמאות אינן תואמות
  </div>
  <button type="submit" color="primary" mat-raised-button class="new_group" [disabled]="changePasswordForm.invalid">אישור</button>
</form>