<div class="image_gallery_response_wrapper">
    <div class="response_container_wrapper" *ngFor="let reply of this.items | async ; index as i">
        <div class="response_container">
            <h5 class="response_content"
                [ngStyle]="{backgroundColor: colors[i%colors.length], color:colors[i%colors.length]}">
                <span>{{reply.text}}</span>
            </h5>
            <h6 class="details">
                <span>{{reply.details}},</span>
                <span>{{reply.date}}</span>
            </h6>
        </div>
    </div>
    <h6>הוסף תגובה</h6>
    <input type="text" [(ngModel)]="myReply" (keyup.enter)="sendReply()">
</div>
<div class="overlay" (click)="closeMe()"></div>