     @import "../../globalStyle.scss";
     @import '~@angular/material/theming';
     .stepper{
      width:450px;   
     
         .wrapper{
         position:relateive;
         form{
         position: relative;
         text-align: left;
         max-height:450px;
         overflow-y: scroll;
         overflow-x: hidden;
         padding:0 0 0 10px;
        &::-webkit-scrollbar { 
            width: 1px;
            background-color: rgba(221, 217, 217, 0.87);
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
      .input{
        width:100%;
        }  
        button.new_group{
                border-radius: 7px;
                padding: 0 16px;
                border-radius: 7px;
                font-size: 20px;
                background-color:$app-red;
                color:white;
                  }
              }  
           }
    
      
     }

   
  

  
  



 


