     @import "../../globalStyle.scss";
     @import '~@angular/material/theming';
     .wrapper{
         min-height:400px;
         position:relateive;
         form{
         position: relative;
         text-align: left;
      .input{
        width:100%;
        }  
        button.new_group{
                border-radius: 7px;
                padding: 0 16px;
                border-radius: 7px;
                font-size: 20px;
                background-color:$app-red;
                color:white;
            }
     } 
     
     }

   
  

  
  



 


