<div class="image_gallery_wrapper">
    <div class="image_gallery_content" [ngStyle]="{'background-image': 'url('+imageGallery.src+')'}">
        <div class="image"></div>
        <div class="bottom">
            <i class="fa fa-trash-o" (click)="deleteImage()"></i>
            <i [ngClass]="{'is_open':showResponse}" (click)="toggleShowResponse()" class="fa fa-reply"
               aria-hidden="true"></i>
            <app-like-component [id]="imageGallery.id"></app-like-component>
        </div>
    </div>
</div>
<app-image-gallery-response [imageGallery]="imageGallery" (close)="toggleShowResponse()" *ngIf="showResponse"
                            class="response_wrapper"></app-image-gallery-response>