@import "../../../assets/style/globalStyle.scss";

.image_gallery_wrapper {
  width: 100%;
  height: 100%;
  .image_gallery_content {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 9px 1px #a79b9b;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
    .bottom {
      background-color: $second_color;
      padding: 5px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      text-align: left;
      i {
        font-size: 16px;
        cursor: pointer;
        color: rgba(81, 79, 103, 0.9);
        &.fa-reply {
          transition: 0.3s;
          vertical-align: middle;
          margin-right: 5px;
          &:hover {
            color: $app_red;
            z-index: map_get($z-indexes, 'popup-overlay')+1;
          }
        }
        &.fa-trash-o {
          position: absolute;
          right: 5px;
          @include absolute-vertical-middle();
        }

        &.is_open {
          transform: rotate(-90deg);
          color: $app_red;
        }
      }
    }

  }
  &.list {
    .image_gallery_content {
      &:hover {
        transform: scale(1.05);
        z-index: 1;
        transition: .5s;
        position: relative;
        &:before {
          content: '';
          height: 100%;
          width: 100%;
          position: absolute;
          opacity: 0.6;
          background: radial-gradient(transparent, white 100%)
        }
      }
    }
  }
}

app-image-gallery-response {
  position: absolute;
  top: 180px;
  right: 175px;
  z-index: 100;
}