<div class="wrapper">
  <header></header>
  <div class="content">
    <img src="../../assets/images/logo/kidinet_logo.svg" />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input placeholder="מייל" type="mail" name="mail" [formControl]="mail">
      <div [hidden]="mail.valid|| mail.untouched">כתובת המייל אינה בתבנית הנכונה</div>
      <input placeholder="הכנס סיסמא" type="password" name="password" [formControl]="password">
      <div [hidden]="!password.hasError('required')||password.untouched">
        שדה חובה
      </div>
      <div *ngIf="logInFailed&&!loginForm.dirty">שם המשתמש או הסיסמא אינם נכונים</div>
      <button color="accent" mat-raised-button type="submit" [disabled]="!loginForm.valid" class=welcome>
        <span>הכנס</span>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
    </form>
    <button (click)=openMoreGroup()>temp</button>
    <button class="new_group" mat-raised-button (click)="openNewGroupDialog()">
         אני רוצה לפתוח קבוצה חדשה
        <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
  </div>
  <footer></footer>
</div>