@import "../../assets/style/globalStyle";

.messege_wrapper {
    background-color: $primary_color;
    padding:20px 0;
   .border{
       border:1px solid white;
       .messege_content {
        display:inline-block;
        color:white;
        width:100%;
        padding:12px;
        height: 26px;
        .message{
             margin:0 10px;
             display: inline;
        }
      }
   }
}

// .messege_content {
//      transform:translateX(100%);
//      animation: example1 25s linear infinite;
//     @keyframes example1 {
//         0%   { 
//          transform: translateX(200%); 		
//         }
//         100% { 
//         transform: translateX(-100%); 
//         }
//       }
// }
     