@import "../../../assets/style/globalStyle";

.form_list {
  width: 100%;
  .dilemma {
    min-height: 150px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s;
    background-color: $light_gray;
    padding: 0 0 35px 0;
    margin: 10px 0;
    .title {
      background-color: rgba(0, 0, 0, 0.1);
      margin: auto;
      padding: 8px 5px 8px 25px;
      box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.18);
      font-size: 21px;
      position: relative;
      display: inline-block;
      width: 100%;
      @include text-truncate();
      i {
        position: absolute;
        left: 5px;
        bottom:0;
        color: $dark_gray;
        cursor: pointer;
        border-radius: 50%;
        min-height: 0;
        min-width: 0;
        @include absolute-vertical-middle();
      }
      &.show_more_text_title {
        white-space: initial;
      }
    }
    .content {
      padding: 10px;
    }
    .details {
      color: $blue_details;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;
      padding: 15px;
      h6 {
        font-weight: bold;
      }
    }
    &:hover {
      transform: scale(1.025, 1);
    }
  }
  .response {
    font-size: 0;
    position: relative;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: $light_gray;
    padding: 10px;
    transition: 0.3s;
    margin: 10px 0;
    .content {
      display: inline-block;
      width: calc(100% - 65px);
      vertical-align: middle;
      .details {
        color: $blue_details;
        padding: 10px 0;
        h6 {
          font-weight: bold;
        }
      }
      .text {
        font-size: 15px;
      }
    }
    .profile {
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      background-image: url("../../../assets/images/progile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:hover {
      transform: scale(1.025, 1);
    }
  }
}


