<div class="form_list">
    <div class="dilemma">
        <h3 class="title" [ngClass]="{'show_more_text_title':this.showMoreTextTitle}">לאן כדאי ללכת?
           <i (click)="toggleMoreText()" class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </h3>
        <div class="content">אני מחפשת............בלבה בלה בלה בלה</div>
        <div class="details">
            <h6>אחת האמהות</h6>
            <h6>01/02/17</h6>
        </div>
    </div>
    <div class="response" >
        <div class="content">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="details">
                <h6>אחת האמהות</h6>
                <h6>01/02/17</h6>
            </div>
            <div class="text">
                כדאי כדאי כדאי
            </div>
        </div>
        <div class="profile"></div>
    </div>
</div>

<div class="reply_wrapper">
    <form [formGroup]="replyForm" (ngSubmit)="reply() ">
        <mat-form-field class="input">
            <textarea matInput placeholder="התגובה שלך כאן" name="replyContent" [formControl]="replyContent"></textarea>
        </mat-form-field>
        <!--<div [hidden]="replyTitle.untouched||!replyTitle.hasError('required')">שדה נדרש</div>-->
        <div class="button_wrapper">
            <button type="submit" mat-raised-button color="accent" [disabled]="!replyForm.valid">שלח</button>
        </div>
    </form>
</div>
