<div class="form_list">
    <div class="dilemma">
        <h3 class="title" [ngClass]="{'show_more_text_title':this.showMoreTextTitle}">לאן כדאי ללכת?
           <i (click)="toggleMoreText()" class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </h3>
        <div class="content">אני מחפשת............בלבה בלה בלה בלה</div>
        <div class="details">
            <h6>אחת האמהות</h6>
            <h6>01/02/17</h6>
        </div>
    </div>
    <div class="response">
        <div class="content">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="details">
                <h6>אחת האמהות</h6>
                <h6>01/02/17</h6>
            </div>
            <div class="text">
                כדאי כדאי כדאי
            </div>
        </div>
        <div class="profile"></div>
    </div>

    <div class="response">
        <div class="content">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="details">
                <h6>אחת האמהות</h6>
                <h6>01/02/17</h6>
            </div>
            <div class="text">יוואלה איזה מגניב!!!!!!!!!!!!!!!איזה מגניב!!!!!!!!!!!!!!!איזה מגניב!!!!!!!!!!!!!!!איזה
                מגניב!!!!!!!!!!!!!!!איזה מגניב!!!!!!!!!!!!!!!!
            </div>
        </div>
        <div class="profile"></div>
    </div>
</div>
