<header>
    <div class="top">
        <h2 class="name">ברוכים  הבאים </h2>
        <h2 class="name">ל{{appGlobalsService.currentGroup.name}}</h2>
        <p>
            <span>{{appGlobalsService.currentGroup.city}}</span>
            <span>{{appGlobalsService.currentGroup.build}}</span>
            <span>{{appGlobalsService.currentGroup.num}}</span>
         </p>
        <button mat-button color="accent" (click)="logOut()">התנתק</button>
        <img src="../../assets/images/logo/kidinet_logo.svg" />
    </div>
    <div class="messege_wrapper"></div>


</header>