@import "../../assets/style/globalStyle";
.top {
    padding:10px;
    background-color:$second_color;
    position:relative;
    img{
        width:120px;
        position:absolute;
        top:0;
        left:20px;
    }
    * {
        padding:5px;   
        display:inline-block;
        color:$primary_color;
        margin:0;
     }
}