<mat-form-field class="input_wrapper">
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <i class="fa fa-search" aria-hidden="true"></i>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    </mat-autocomplete>
</mat-form-field>

<div class="button_wrapper">
    <button mat-button (click)="toggleShowDetails()">{{isExpanded?'הסתר פרטים':'הראה פרטים'}}</button>
</div>

<div class="form_subjects" [ngClass]="{'expanded':isExpanded}">
    <div class="subject" [ngClass]="{'selected':subject.$key==selectedForumKey}" (click)="showForumReplys(subject)" *ngFor="let subject of filteredOptions | async ; index as i">
        <h3>{{subject.title}}</h3>
        <div class="details">
            <h6 *ngIf="subject.details!==appGlobalsService.currentUser.mail">{{detail[subject.details]}}</h6>
            <h6 *ngIf="subject.details==appGlobalsService.currentUser.mail">אני</h6>
            <h6>{{moment(subject.date).calendar()}}</h6>
        </div>
    </div>
</div>


<div class="new_dilemma_wrapper" [ngClass]="{'show': isShowNew}">
    <button class="new_dilemma_button" mat-raised-button color="primary" (click)="isShowNew=true">יש לי משהו לשאול
        אתכם
    </button>
    <form [formGroup]="newDilemaaForm">
        <mat-form-field class="input">
            <input matInput placeholder="כותרת" type="text" name="newDilemaTitle" [formControl]="newDilemaTitle">
        </mat-form-field>
        <mat-form-field class="input">
            <textarea matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" matInput placeholder="תוכן" name="newDilemaContent"
                [formControl]="newDilemaContent"></textarea>
        </mat-form-field>
    </form>
    <div class="actions">
        <button mat-raised-button color="accent" class="create" (click)="createNewDilemma()" [disabled]="!newDilemaaForm.controls['newDilemaTitle'].value||!newDilemaaForm.controls['newDilemaContent'].value">אישור</button>
        <button mat-raised-button color="accent" class="cancel" (click)="cancel()">ביטול</button>
    </div>
</div>