@import 'mixin';
@import 'animates';
@import 'config';

$primary_color: #00736F;
$dark_primary_color: #013130;
$second_color: #B3D6D4;
$app_red: #bc1e50;
$blue_details: #6666b4;
$light_gray: #f3f3f3;
$dark_gray: #a9a1a1;
a {
  text-decoration: none;
}

