<!--<div class="rigt_nav">-->
    <!--<a [routerLink]="['/home/presonal-area/settings']"> <i class="fa fa-cog" aria-hidden="true"></i>הגדרות</a>-->
    <!--<a [routerLink]="['/home/presonal-area/remiders']"><i class="fa fa-bell" aria-hidden="true"></i>תזכורות-->
        <!--חשובות</a>-->
    <!--<a [routerLink]="['/home/presonal-area/chat']"><i class="fa fa-comments" aria-hidden="true"></i>chat</a>-->
    <!--<router-outlet></router-outlet>-->
<!--</div>-->
<div class="persinal_area">
    <app-personal-area-settings></app-personal-area-settings>
</div>

