<!--<div class="this_day">
    
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>-->

<div class="this_day">
    <div class="date_wrapper">
        <i class="fa fa-angle-double-right" aria-hidden="true" (click)="prevDay()" matTooltip="היום הקודם" [matTooltipPosition]="'before'"></i>
        <span>יום</span>
        <span class="day">{{currentDay}}</span>
        <span class="date">{{currentDate}}</span>
        <i class="fa fa-angle-double-left" aria-hidden="true" (click)="nextDay()" matTooltip="היום הבא" [matTooltipPosition]="'after'"></i>
    </div>
    <div *ngFor="let title of thisDayOfGroupArray" class="wrapper what_we_ate" [ngClass]="{'blur':isLoading}">
        <h2>{{title.title}}</h2>
        <h4 (blur)="updateThisDayTitles()" class="value" [attr.contenteditable]="isEditable" [textContent]="thisDayContentArray[title.id].content" (input)="thisDayContentArray[title.id].content=$event.target.textContent"></h4>
        <i [ngClass]="title.icon" aria-hidden="true"></i>
    </div>
</div>