@import "../../assets/style/globalStyle";

.this_day {
  padding: 10px;
  font-size: 0;
  height: calc(100vh - 175px);
  position: relative;
  .date_wrapper {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $app_red;
    .date {
      margin: 0 10px 0 0;
    }
    i {
      cursor: pointer;
    }
  }
  .wrapper {
    display: inline-block;
    border-radius: 5px;
    position: relative;
    width: calc(33% - 21px);
    padding: 20px;
    vertical-align: top;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0;
    margin: 10px;
    transition: all 0.3s;
    background-color: #fff6d6;
    color: #5f583b;
    .title {
      font-size: 30px;
      font-weight: bold;
      padding: 0 0 10px 0;
    }
    h4 {
      min-height: 60px;
      color: black;
      max-height: 300px;
      overflow: hidden;
      &[contenteditable]:focus {
        outline: none;
        border: none;
        color: $dark_gray;
      }
    }
    i {
      position: absolute;
      top:5px;
      left:5px;
      font-size: 40px;
      z-index: 100;
      cursor: pointer;
    }
  
  
  
    &:hover {
      transform: scale(1.05, 1.05);
      z-index: 100;
    }
    &.blur {
      filter: blur(2px);
    }
  }
  .mat-spinner {
    position: absolute;
    @include absolute-middle();
  }
}
